@using LanguageResource
<!--考勤与设备-->
<div class="container" style="background-image: url(/content/Images/Admain.png); background-size: 100% 100%; background-repeat: no-repeat; height: 350px;">

    <p class="text-white text-center AdMain_SloganP1">
        融合雲計算、大數據、邊緣計算、IoT四大設計思想 (TemplateC模版)。
        <a class="badge badge-success "
           href="@Url.Action("MainFunc","Helper",new { Language = LangUtilities.LanguageCode})" target="_blank">
            <i class="fa fa-link margin-r-5"></i>功能簡述
        </a>
    </p>

</div>