<!--AI 服务 -->
<div class="container">
    <div class="row">
        <blockquote class="padding-10 h3" style="margin-left:15px;;padding-left:5px;font-weight:600;">
            <i class="fa fa-microchip"></i>人工智能数据服务
        </blockquote>
    </div>
</div>
<div class="container" style="padding: 0px; margin-top:5px;">
    <div class="col-md-3 col-lg-3 col-xs-12">
        <div class="card">
            <div class="card-header text-left padding-bottom5 text-omit"> 
                <blockquote class="compare_title">
                    (TemplateC模版)
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService001.jpg" alt="..." style="width:100%"/> 
            </div> 
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    音频、视频、图像或文本——当我们收集数据时，我们知道收集什么以及推动您的 AI 项目朝着一个方向前进所需的东西：向前。 这就是我们对AI的坚定信念的力量。
                </span> 
            </div>
        </div> 
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12"> 
        <div class="card">
            <div class="card-header text-left padding-bottom5 text-omit"> 
                <blockquote class="compare_title">
                    AI数据转录
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService002.jpg" alt="..." style="width:100%" />
            </div>
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    构建在 CLOUD SERVICE 上的最先进、用户友好的平台，可帮助转录员在不牺牲高质量的情况下大幅提高工作效率。 我们还提供快速准确的转录服务。
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12"> 
        <div class="card">
            <div class="card-header text-left padding-bottom5 text-omit"> 
                <blockquote class="compare_title">
                    AI数据标签和注释
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService003.jpg" alt="..." style="width:100%" />
            </div>
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    标记数据和注释的任务必须满足两个基本参数：质量和准确性。 毕竟，数据同时验证和训练 AI 和 ML 模型。
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12">
        <div class="card">
            <div class="card-header text-left padding-bottom10 text-omit">
                <blockquote class="compare_title">
                    AI弱电ELV报警控制
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService004.jpg" alt="..." style="width:100%" />
            </div>
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    对AI识别警报事件,除了语音警报之外还通过ELV弱电控制开关或者传导感应器,实现联动警报和事件触发,包括云端远程控制或警报远端传送,特别是防盗系统的警报控制。
                </span>
            </div>
        </div>
    </div>
</div>