<style>
    .list-group {
        border: none; /* 去掉 ul 元素的邊框 */
    }
</style>
<div class="h1" style="margin-bottom:50px;font-weight:500">Fly-Light AI-BOX Object Recognition and Alarm Function Overview</div>

<ul class="list-unstyled no-margin no-margin">
    <li class="no-margin no-margin">
        <details open class="h5 text-black-50">
            <!--class="open" or <details open>-->
            <summary class="h4 text-bold text-black">
                <i class="fa fa-arrow-right"></i> OVERVIEW
            </summary>
            <div class="" style="padding-left: 20px; padding-bottom: 20px;">

                <ul class="list unstyled margin" style="list-style-type:decimal;margin-left:40px;">  
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Supports the NVIDIA CUDA framework or the domestic HUAWEI ASCEND framework.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        The world's top recognition algorithm technology is very efficient and can complete the classification and recognition of all objects with only one recognition.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        It can be applied to cloud servers or small edge computing hardware, deploying Windows/Ubuntu, supporting CUDA graphics cards and Huawei Ascend graphics cards, etc., and different grades of hardware are available.
                    </li>
                </ul>
            </div>
        </details>
    </li>
    <li class="no-margin no-margin">
        <details open class="h5 text-black-50">
            <!--class="open" or <details open>-->
            <summary class="h4 text-bold text-black">
                <i class="fa fa-arrow-right"></i> Research and accumulation in the field of CCTV security and surveillance
            </summary>
            <div class="" style="padding-left: 20px; padding-top: 15px;">
                <p class="pb-0 pt-0 mb-0 lead" style="border-bottom-color:#f1dfdf;border-bottom-width:1px;border-bottom-style:dashed;">
                    Based on years of audio and video codec development and the development time of the world's top recognition algorithms, AI applications have achieved more accumulated technical successes. However, as the technology matures, these applications have become more and more numerous, combined with scenarios that implement business needs. Developed considerable business cases, e.g.
                </p>
                <ul class="list unstyled margin" style="list-style-type:decimal;margin-left:40px;margin-bottom:30px;">
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Illegal intrusion: unattended at night or monitoring access to important locations.
                    </li>

                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Fall detection: Care for the elderly, fall detection for the elderly or fall detection during fights, which can be used in communities, prisons, squares, schools and other places.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Open flame identification: It is strictly prohibited for third parties to identify flames of fireworks to prevent fires. It can be used in buildings, forests, factories, chemical industries, karaoke and other places.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Smoke emission: Same as open fire scene.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Cross-border detection: When a specified boundary is crossed, an alarm is generated. It is generally used for pedestrian identification and intrusion detection, combined with video area detection. Can be used in unattended scenarios.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Work drowsiness detection: Detect sleep during work to avoid safety accidents.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Off-duty detection: Detect off-duty detection during work to avoid safety accidents.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Gathering of people in public places: Detect gatherings of people to avoid gatherings of people to fight, dense crowds and avoid stampedes.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Height climbing detection: Detect whether people are climbing to avoid safety accidents.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Face capture: Face data capture can be pushed to the face recognition service for 1&1 recognition and stranger recognition.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Occlusion detection: Detect whether the camera is artificially blocked or damaged. Coordinate maintenance personnel for repairs.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Overflowing garbage: Detect whether the trash can is overflowing, assist sanitation personnel in intelligently dispatching sanitation vehicles, and save manpower and material resources.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Occupying public areas for operations: Detect whether there are illegal operations occupying roads, assist the management department in management, and reduce the workload.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Hard hat identification: identification of hard hats on construction sites to improve construction site safety.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Reflective clothing identification: Construction site reflective clothing identification to prevent non-staff from breaking into the construction site area.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Electric vehicles entering the elevator: Detect electric vehicles entering and exiting the elevator to prevent fires.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Mask detection: open the kitchen and brighten the stove to detect whether food workers are wearing masks.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Pest identification: Smart gardens and housing estate greening use AI to identify pests and intelligently guide gardeners in their operations.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Animal identification: In terms of public place management, it is a very effective management method for assisting security personnel in implementing animal intrusion alarms and alarms for country parks and beaches.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Elevator overcrowding detection: Whether elevator personnel are overloaded or not, it is very effective in special implementation cases such as subway elevators and old factory elevators.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Seaside fishing detection: Fishing in the park is strictly prohibited and is dangerous at the seaside. Check whether personnel engage in park fishing or fishing behavior.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Seaside swimming test: Swimming is strictly prohibited. Seaside people are tested to see if they swim in the water.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        People counting: People counting or passenger flow statistics uses AI to statistically draw the market’s passenger flow heat map.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Smoking detection: open the kitchen and light the stove, detect whether employees have smoking behavior, smoke alarms, etc.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Identification of dump trucks: Incidents of dump trucks dropping soil randomly on the street.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Phone call identification: Detect whether the driver is making phone calls.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Motor vehicle/non-motor vehicle identification: Motor vehicle and non-motor vehicle identification.
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Traffic flow statistics: identify vehicles and count traffic flow, and count vehicle entrances and exits in housing estates.
                    </li>
                </ul>
                <p class="pb-0 pt-0 mb-0 lead" style="border-bottom-color:#f1dfdf;border-bottom-width:1px;border-bottom-style:dashed;">
                    The above is a summary of AI applications for commercial needs, very practical scenarios. These algorithms and applications have been successfully realized and applied through our many years of technical research and practice, and are very feasible and implementable.
                </p>
            </div>
        </details>
    </li>
    <li class="no-margin no-margin">
        <details open class="h5 text-black-50">
            <!--class="open" or <details open>-->
            <summary class="h4 text-bold text-black">
                <i class="fa fa-arrow-right"></i> Fly-Light AI-BOX Function List
            </summary>
            <div class="" style="padding-left:20px;">
                <p class="pb-0 pt-0 mb-0 lead" style="border-bottom-color:#f1dfdf;border-bottom-width:1px;border-bottom-style:dashed;">
                    The following is the function list of the Python version or C++ version of Xianghui AI-BOX:
                </p>

                <p class="pb-0 pt-0 mb-0 lead" style="border-bottom-color:#f1dfdf;border-bottom-width:1px;border-bottom-style:dashed;font-weight:400;">
                    Web Front-End List:
                </p>
                <dl>
                    <dt>Model Management</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support uploading trained model files to the AI box.  <br />
                        Support the addition, modification, update and deletion of models.  <br />
                        Supported model query and retrieval.
                    </dd>

                    <dt>Device management</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support dynamic addition of real-time analysis equipment (rtsp video stream).  <br />
                        Support dynamic modification, update and deletion of equipment.  <br />
                        Support device query and retrieval.  <br />
                        Support viewing the latest pictures and time of device analysis.  <br />
                        Support device analysis polygon range detection parameter configuration.  <br />
                        Support device perimeter detection parameter configuration.
                    </dd>

                    <dt>Scene Management</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support adding multiple scenes (models) to one analysis device. <br />
                        Support dynamic modification, update and deletion of equipment in scenes. <br />
                        Support advanced query and retrieval.
                    </dd>

                    <dt>User Authentication</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support user password to log in to the backend management system. <br />
                        Support user password modification. <br />
                        Support user password encrypted login. <br />
                        Support user logout
                    </dd>
                    <dt>System Management</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support dynamic configuration of box encoding. <br />
                        Support box data storage days configuration. <br />
                        Support box concurrent analysis device channel number configuration. <br />
                        Support recognition result label display configuration. <br />
                        Support alarm linkage recording configuration. <br />
                        Support alarm data push third-party platform address configuration.
                    </dd>
                    <dt>Other functions</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support analysis alarm push and preview. <br />
                        Support analysis of alarm voice broadcast.<br />
                        Support night and day theme mode switching.
                    </dd>
                </dl>
                <p class="pb-0 pt-0 mb-0 lead" style="border-bottom-color:#f1dfdf;border-bottom-width:1px;border-bottom-style:dashed;font-weight:400;">
                    Back-End Functions List:
                </p>
                <dl>
                    <dt>Web Interface Development</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Provide an http interface based on restful style.<br />
                        Provide management-related interfaces for models, equipment, scenarios, configurations, etc.<br />
                        Provide user login, token verification and other interfaces.<br />
                        Provide file upload, download, and image preview interfaces.
                    </dd>

                    <dt>Dynamic Model Management</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support one device to add multiple analysis scenario algorithms.<br />
                        Support the addition, update and deletion of dynamic analysis scene algorithms.
                    </dd>

                    <dt>Dynamic Device  Management</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support dynamic addition, modification, update and deletion of equipment.<br />
                        Support device dynamic enabling, disabling and video analysis.<br />
                        Support device polygon and line segment perimeter detection parameter configuration and detection control.<br />
                        Support device analysis and latest picture storage and update.<br />
                        Support device analysis video disconnection and reconnection.<br />
                        Support device connectivity detection and real-time analysis.
                    </dd>

                    <dt>Dynamic Scene  Management</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support one device to add multiple analysis scenario algorithms.<br />
                        Support the addition, update and deletion of dynamic analysis scene algorithms.
                    </dd>

                    <dt>Dynamic System Configuration</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support dynamic configuration of box encoding.<br />
                        Support box data storage days configuration.<br />
                        Support box concurrent analysis device channel number configuration.<br />
                        Support recognition result label display configuration.<br />
                        Support alarm linkage recording configuration.<br />
                        Support alarm data push third-party platform address configuration.
                    </dd>

                    <dt>Alarm Real-Time Broadcast</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support broadcasting alarms to clients.
                    </dd>

                    <dt>Alarm Temporary Storage</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support alarm storage for different scene algorithms.<br />
                        Support timing statistics and cleaning of alarms.
                    </dd>

                    <dt>System Alarm Recording</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support device alarm linkage video recording (5 seconds before and after the alarm).<br />
                        Support device analysis and alarm picture storage.<br />
                        Support video recording and storage via USB or GPIO linkage.
                    </dd>

                    <dt>Alarm Asynchronous Push</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support configuration of third-party platform address (http and websocket).<br />
                        Support real-time uploading of alarm information to third-party platforms (information, pictures, videos).
                    </dd>

                    <dt>Docking Interface Protocol</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support the same LAN HTTP communication protocol management model, equipment, scenes, alarms, etc.<br />
                        Support subnet-cloud websocket+http communication protocol to adapt to external network usage needs.
                    </dd>

                    <dt>AI early warning app platform</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Third-party application platform based on Java/Vue.js/Python AI box docking (multi-tenant sass cloud platform).
                    </dd>

                    <dt>Work Ledger/Client Balance</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Ability to view the total number of all warnings and the number of pending warnings in real time (warning categories can be dynamically expanded).<br />
                        Ability to display pending warning information in real time, including warning time, location, pictures, and videos.<br />
                        Ability to handle pending early warnings, which can be ignored or turned into personal tasks for processing..<br />
                        Ability to view warning pictures and play short warning videos.<br />
                        Ability to display personal to-be-processed task information, including task name, deadline, and release time 6. Able to handle personal pending tasks.
                    </dd>

                    <dt>Comprehensive Cloud Atlas	</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Ability to display the point distribution of all analysis video equipment in the form of a map.<br />
                        Ability to play real-time video from distributed video equipment, record videos, and take screenshots.<br />
                        Ability to view and analyze the alarm information of the video and process it.<br />
                        Ability to receive real-time warning information pushed in the background in real time and display it on the map.<br />
                        Ability to see the online and offline status of video equipment in real time.<br />
                        Ability to view equipment information and operation and maintenance information on the map.<br />
                        Ability to save video points to favorites and play favorites videos.<br />
                        The real-time position of the device can be adjusted by moving it.<br />
                        Ability to view the personal tasks assigned by the administrator and process them.
                    </dd>

                    <dt>Early Warning Management</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Provide historical tracing and search query of early warnings.<br />
                        Ability to view the pictures, videos and processing status of the warning.<br />
                        Early warnings can be ignored and transferred to personal tasks.<br />
                        All warning information can be exported.
                    </dd>

                    <dt>Alarm Real-Time Broadcast</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support broadcasting alarms to clients.
                    </dd>

                    <dt>Device Management</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Provide search queries for tasks.<br />
                        Can view pictures and processing status of tasks.<br />
                        Tasks can be processed in real time 4. All task information can be exported.
                    </dd>

                    <dt>System Configuration</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Configurable system warning SMS push rules (time, warning type, silent period, warning method, notification objects, etc.).<br />
                        Can view and retrieve personal warning message notifications.
                    </dd>

                    <dt>System settings</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Can manage the project area tree of the current tenant (personal organizational structure).<br />
                        Equipment that can manage the system (AI box, video equipment.<br />
                        Can view the video status structure view (one picture shows the access architecture and device status).<br />
                        Can view and retrieve the online and offline logs of the device.<br />
                        Can manage all project information of the current tenant (dynamically switch between different projects).<br />
                        Can manage the current tenant’s system roles and role permission configurations.<br />
                        Can manage sub-account permission allocation of the current tenant system.<br />
                        Can view the operation logs of the current tenant system.
                    </dd>

                    <dt>Early Warning Big Data (Management Cockpit)	</dt>
                    <dd style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Support the management of system dictionaries (dynamic management of multi-type early warning dictionaries).<br />
                        Support system docking app and secret distribution.<br />
                        Support dynamic control of system menu and permissions.<br />
                        Support the management of system user departments.
                    </dd>
                </dl>
            </div>

        </details>
    </li>
    <li class="list-unstyled no-margin no-margin">
        <details open class="h5 text-black-50">
            <!--class="open" or <details open>-->
            <summary class="h4 text-bold text-black">
                <i class="fa fa-arrow-right"></i> Test effects and applications
            </summary>
            <div class="" style="padding-left:20px;">
                <p class="pb-0 pt-0 mb-0 lead" style="border-bottom-color:#f1dfdf;border-bottom-width:1px;border-bottom-style:dashed;">
                    The tests include tests on the c++ and Python language versions of Linux systems and Windows systems. <br />
                </p>

                <p class="pb-0 pt-0 mb-0 lead" style="border-bottom-color:#f1dfdf;border-bottom-width:1px;border-bottom-style:dashed;">
                    Testing of NVIDIA graphics card environment <br />
                </p>

                <p class="pb-0 pt-0 mb-0 lead" style="border-bottom-color:#f1dfdf;border-bottom-width:1px;border-bottom-style:dashed;">
                    Testing of Huawei Ascend graphics card/CPU environment<br />
                </p>

                <p class="pb-0 pt-0 mb-0 lead" style="border-bottom-color:#f1dfdf;border-bottom-width:1px;border-bottom-style:dashed;">
                    Unbuntu 20.4/22.0/windows 11/10的測試 <br />
                </p>

                <p class="pb-0 pt-0 mb-0 lead" style="border-bottom-color:#f1dfdf;border-bottom-width:1px;border-bottom-style:dashed;">
                    Hardware purchase:
                </p>
                <ul class="list unstyled margin" style="list-style-type:decimal;margin-left:40px;margin-bottom:30px;">
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        Low configuration jetson naco (b01 replacement version), ubuntu, price HK$1500 (including shell), 0.5tops, analyze about 4 channels of real-time video; one picture takes about 200ms~300ms;
                    </li>

                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        The mid-range jetson orin nano, Ubuntu, the price is around HK$3500, 20tops, it can analyze about 8 channels of real-time video; one picture takes about 100ms;
                    </li>

                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        High-end jetson orin nano, Ubuntu, the price is around HK$5500 , 70-100tops, it can analyze about 16 channels of real-time video; one picture takes about 30ms;
                    </li>

                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        The domestic Huawei chip orange PI, 4G, 16 cores, the price is around HK$1,000, and the analysis video estimates it to be 16 channels;
                    </li>
                    <li class="unstyled" style="line-height: 28px; font-size: 16px; padding: 5px;">
                        The above prices are based on the market reference price in 2024 and may change at any time. Please check the official selling price for details.
                    </li>
                </ul>
            </div>

            <dl>
                <dt>Orange PI Base On Ascend GPU 基於華為升騰GPU的運算測試</dt>
                <dd class="center-block">
                    <video width="600" controls loop>
                        <source src="/upload/AIBOX/OrangePIdemo_ Crop0409.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </dd>
            </dl>
        </details>
    </li>
</ul>
