<!--考勤与设备-->
<div class="container" style="background-image: url(/content/Images/Admain.png); background-size: 100% 100%; background-repeat: no-repeat; height: 350px;">

    <p class="text-white text-center AdMain_SloganP1_EN">
         Integrating the four design ideas of Cloud computing, Big data, Edge computing, and IoT, it subverts the traditional attendance and salary system.
    </p>

</div>