@using LanguageResource
<!--AI-BOX 目標識別盒子-->
<div class="container-fluid" style="background-image: url(/content/Images/AdMainAiBox_SloganP1.png); background-size: 100% 100%; background-repeat: no-repeat; height: 410px;">

    <div class="text-white text-center AdMain_SloganP1">
        <div class="text-white text-center AdMain_SloganP1">
            翔輝 AI-BOX目標識別盒子
        </div>
        <div class="text-white text-center" style="font-size:22px;color:whitesmoke">
            全方位视频目标识别与警报系统,
            <wbr />颠覆视频监控新模式,减省人力成本。
            <span>
                <a class="badge badge-success"
                   href="@Url.Action("MainFuncAiBox","Helper",new { Language = LangUtilities.LanguageCode})" target="_blank">
                    <i class="fa fa-link margin-r-5"></i>功能简述 
                </a>
            </span>
        </div>
        <div class="center-block text-white text-center margin-top10" style="color:aliceblue;font-size:12px;width:700px;">
            翔辉智慧视讯分析盒是自主研发的智慧边缘运算盒子，可为网路摄影机、抓拍机等多种前端设备提供视讯分析能力，支援人脸、人体侦测、追踪、1:N辨识、属性分析（ 人体属性种类多达20+）、戴口罩辨识等多种演算法。 可在社区、建筑、园区、校园、商场等多个场景建置无感考勤、通行管理、陌生人识别、电子围篱等「端云一体」解决方案。
        </div>
    </div>

</div>