<!--AI 服務 -->
<div class="container">
    <div class="row">
        <blockquote class="padding-10 h3" style="margin-left:15px;;padding-left:5px;font-weight:600;">
            <i class="fa fa-microchip"></i>AI Data Services
        </blockquote>
    </div>
</div>
<div class="container" style="padding: 0px; margin-top:5px;">

    <div class="col-md-3 col-lg-3 col-xs-12">
        <div class="card">
            <div class="card-header text-left padding-bottom10  text-omit"> 
                <blockquote class="compare_title">
                    Data Collection
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService001.jpg" alt="..." style="width:100%" />
            </div>
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    Audio, video, images, or text—when we collect data, we know what to collect and what's needed to drive your AI project in one direction: forward. This is the power of our unwavering belief in AI.
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12">
        <div class="card">
            <div class="card-header text-left padding-bottom10  text-omit"> 
                <blockquote class="compare_title">
                    Data Transfer
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService002.jpg" alt="..." style="width:100%" />
            </div>
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    The most advanced, user-friendly platform built on CLOUD SERVICE helps transcribers be dramatically more productive without sacrificing high quality. We also provide fast and accurate transcription services.
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12">
        <div class="card">
            <div class="card-header text-left padding-bottom10 text-omit"> 
                <blockquote class="compare_title">
                    Labels and Annotations
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService003.jpg" alt="..." style="width:100%" />
            </div>
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    The task of labeling data and annotation must satisfy two basic parameters: quality and accuracy. After all, data simultaneously validates and trains AI and ML models.
                </span>
            </div>
        </div>
    </div> 

    <div class="col-md-3 col-lg-3 col-xs-12">
        <div class="card">
            <div class="card-header text-left padding-bottom10  text-omit"> 
                <blockquote class="compare_title">
                    AI ELV Aalarm Control
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService004.jpg" alt="..." style="width:100%" />
            </div>
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    For AI-recognized alarm events, in addition to voice alarms, linked alarms and event triggers are realized through ELV weak current control switches or conduction sensors, including cloud remote control or alarm remote transmission, especially alarm control of anti-theft systems.
                </span>
            </div>
        </div>
    </div>
</div>