<!--AI 服務 -->
<div class="container">
    <div class="row">
        <blockquote class="padding-10 h3" style="margin-left:15px;;padding-left:5px;font-weight:600;">
            <i class="fa fa-microchip"></i>人工智能數據服務
        </blockquote>
    </div>
</div>
<div class="container" style="padding: 0px; margin-top:5px;">
    <div class="col-md-3 col-lg-3 col-xs-12">
        <div class="card">
            <div class="card-header text-left padding-bottom10 text-omit"> 
                <blockquote class="compare_title">
                    AI數據集
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService001.jpg" alt="..." style="width:100%" />
            </div>
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    音訊、視訊、圖像或文字——當我們收集數據時，我們知道要收集什麼以及推動您的 AI 專案朝著一個方向前進所需的東西：向前。 這就是我們對AI的堅定信念的力量。
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12">
        <div class="card">
            <div class="card-header text-left padding-bottom10 text-omit"> 
                <blockquote class="compare_title">
                    AI數據轉錄
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService002.jpg" alt="..." style="width:100%" />
            </div>
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    建立在 CLOUD SERVICE 上的最先進、用戶友好的平台，可幫助轉錄員在不犧牲高品質的情況下大幅提高工作效率。 我們也提供快速且準確的轉錄服務。
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12">
        <div class="card">
            <div class="card-header text-left padding-bottom10 text-omit"> 
                <blockquote class="compare_title">
                    AI數據標籤與註解
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService003.jpg" alt="..." style="width:100%" />
            </div>
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    標記資料和註釋的任務必須滿足兩個基本參數：品質和準確性。 畢竟，資料同時驗證和訓練 AI 和 ML 模型。
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12">
        <div class="card">
            <div class="card-header text-left padding-bottom10 text-omit"> 
                <blockquote class="compare_title">
                    AI弱電ELV警報控制
                </blockquote>
            </div>
            <div class="card-body padding-bottom5">
                <img src="~/Content/Images/AIService004.jpg" alt="..." style="width:100%" />
            </div>
            <div class="card-footer padding-bottom5">
                <span class="h5 padding-10 margin-left5">
                    對AI識別警報事件,除了語音警報之外還透過ELV弱電控制開關或傳導感應器,實現聯動警報和事件觸發,包括雲端遠端控製或警報遠端傳送,特別是防盜系統的警報控制。
                </span>
            </div>
        </div>
    </div>
</div>