<!--AI 服務 -->
<div class="container">
    <div class="row">
        <blockquote class="padding-10 h3" style="margin-left:15px;;padding-left:5px;font-weight:600;">
        <i class="fa fa-microchip"></i>人工智能數據服務</blockquote>
    </div>
</div>
<div class="container" style="padding: 0px; margin-top:5px;">
    <div class="col-md-3 col-lg-3 col-xs-12">
        <dl>
            <dt>
                <span class="compare_title">
                    <i class="fa fa-angry fa-2x"></i>
                    數據採集
                </span>
            </dt>
            <dd>
                <img src="~/Content/Images/AIService001.jpg" class="margin-left5"/>
                <span class="h6 padding-top10 padding-bottom10">
                    <i class="fa fa-angry fa-2x"></i>
                    音頻、視頻、圖像或文本——當我們收集數據時，我們知道收集什麼以及推動您的 AI 項目朝著一個方向前進所需的東西：向前。這就是我們對AI的堅定信念的力量。
                </span>
            </dd>
        </dl>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12">
        <dl>
            <dt>
                <span class="padding-top10 compare_title">
                    <i class="fa fa-angry fa-2x"></i>
                    數據轉錄
                </span>
            </dt>
            <dd>
                <img src="~/Content/Images/AIService002.jpg"  class="margin-left5"/>
                <span class="h6 padding-top10 padding-bottom10 margin-left5">
                    <i class="fa fa-angry fa-2x"></i>
                    構建在 CLOUD SERVICE 上的最先進、用戶友好的平台，可幫助轉錄員在不犧牲高質量的情況下大幅提高工作效率。 我們還提供快速準確的轉錄服務。
                </span>
            </dd>
        </dl>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12">
        <dl>
            <dt>
                <span class="padding-top10 padding-bottom10 compare_title">
                    <i class="fa fa-angry fa-2x"></i>
                    數據標籤和註釋
                </span>
            </dt>
            <dd>
                <img src="~/Content/Images/AIService003.jpg"  class="margin-left5"/>
                <span class="h6 padding-top10 padding-bottom10 margin-left5">
                    <i class="fa fa-angry fa-2x"></i>
                    標記數據和註釋的任務必須滿足兩個基本參數：質量和準確性。 畢竟，數據同時驗證和訓練 AI 和 ML 模型。
                </span>
            </dd>
        </dl>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12">
        <dl>
            <dt>
                <span class="padding-top10 padding-bottom10 compare_title" >
                    <i class="fa fa-angry fa-2x"></i>
                    AI弱電ELV報警控制
                </span>
            </dt>

            <dd>
                <img src="~/Content/Images/AIService004.jpg"  class="margin-left5"/>
                <span class="h6 padding-top10 padding-bottom10 margin-left5">
                    <i class="fa fa-angry fa-2x"></i>
                    對AI識別警報事件,除了語音警報之外還通過ELV弱電控制開關或者傳導感應器,實現聯動警報和事件觸發,包括雲端遠程控制或警報遠端傳送,特別是防盜系統的警報控制。
                </span>
            </dd>
        </dl>
    </div>
</div>