<!--考勤与设备-->
 
<div class="jumbotron jumbotron-fluid" style="width:100%">
    <div class="container">
        <h1 class="display-4">10000人考勤与薪酬,三分钟算完。</h1> 
        <p class="lead">10到10000人,灵活的弹性计算,全方位适应企业扩张需要。</p>
    </div>
</div>