@using LanguageResource
<!--考勤與設備-->
<div class="container" style="background-image: url(/content/Images/huiGuanBG2000X942AT30P.jpg); background-size: 100% 100%; background-repeat: no-repeat; ">

    <p class="text-white text-center AttAndDevice_SloganP1">
        10000人考勤與薪酬,三分鐘算完。
    </p>
    <p class="text-center text-white AttAndDevice_SloganP2">
        靈活的彈性計算,10到10000人,全方位適應企業擴張需要。<br />

        邊緣計算架構,考勤設備以及其他設備自動鏈接。
        <a class="badge badge-success "
           href="@Url.Action("MainFunc","Helper",new { Language = LangUtilities.LanguageCode})" target="_blank">
            <i class="fa fa-link margin-r-5"></i>功能簡述
        </a>
    </p>
</div>