@using LanguageResource
<!--考勤与设备-->
<div class="container-fluid" style="background-image: url(/content/Images/huiGuanBG2000X942AT30P.jpg); background-size: 100% 100%; background-repeat: no-repeat; ">

    <p class="text-white text-center AttAndDevice_SloganP1">
        10000人考勤与薪酬,三分钟算完。
    </p>
    <p class="text-white text-center AttAndDevice_SloganP2">
        灵活的弹性计算,10到10000人,全方位适应企业扩张需要。<br />

        边缘计算架构,考勤设备以及其他设备自动链接。
        <a class="h5 badge badge-success " 
                                 href="@Url.Action("MainFunc","Helper",new { Language = LangUtilities.LanguageCode})" target="_blank">
        <i class="fa fa-link margin-r-5"></i>功能简述</a>
    </p>
</div>

