<!--市场痛点比较 Service advantages of attendance system-->
<div class="container">
    <div class="row">
        <blockquote class="padding-10 h3" style="margin-left:15px;;padding-left:5px;font-weight:600;">
            Service Advantages of Attendance System
        </blockquote>
    </div>
</div>
<div class="container" style="padding: 0px; margin-top: 15px;">
    <div class="col-md-6 col-lg-6 col-xs-12">
        <p class="padding-top10 padding-bottom10 bg-info compare_title" style="margin-left:0px;padding-left:10px;"><i class="fa fa-angry fa-2x"></i>Does your company have the following problems?</p>
        <ul class="list-unstyled list-group-unbordered ">
            <li class="list-group-item ">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar1.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5">Disorganized organization and management structure, poor management of leave and enroll, etc.</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar2.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5">There are too many staff and attendance management is difficult. The work status cannot be analyzed through attendance.</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar3.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5 ">Human resources cannot be allocated scientifically, redundant human resources cannot be streamlined through data analysis.</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar4.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5 ">The organizational structure can only be managed centrally, it is difficult to decentralize management, and remote management is difficult. </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar4.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5 ">Manpower scheduling is tiring work, and when it comes to problems such as shifting and asking for leave, it's a mess.</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar5.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5 ">Performance appraisal is difficult to connect with attendance appraisal, the reward and punishment system is chaotic, and there are no rules at all. </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar5.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5 ">Monthly salary calculations and personal tax calculations are extremely cumbersome, and disputes caused by salary calculation errors caused by human errors have occurred from time to time.</span>
                </div>
            </li>
            <li>
                <div class="container pull-left" style="max-width:450px;padding-top:10px;">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/DownLoad/MobileForAttAppV2.rar" class="">Small and medium enterprises go directly to the cloud</a>
                        </li>
                        <li>
                            <div class="bg-primary margin-top5" style="border-radius: 3px; padding-left: 15px; padding-right: 15px; padding: 10px;margin-right:20px;">
                                <a href="/DownLoad/MobileForAttAppV2.rar" class="h3 ">
                                    <i class="fa fa-cloud-upload" style="margin-right:5px;" aria-hidden="true"></i>Cloud Register<p class="reverse" style="font-size: 10px; margin-top: 3px;">Directly deploy on cloud system registration, Especially suitable for small businesses with insufficient IT foundation.</p>
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!--解决痛点问题 -->
    <div class="col-md-6 col-lg-6 col-xs-12">
        <p class="padding-top10 padding-bottom10 bg-warning compare_title" style="margin-left:0px;padding-left:10px;"><i class="fa fa-angry fa-2x"></i>We can solve the troubled problems for your company:</p>
        <ul class="list-unstyled list-group-unbordered ">
            <li class="list-group-item ">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5">Standard organizational management structure management, branch companies, chain stores, third-party custodians, layered decomposition, to achieve an organizational management system. Resignation and entry file records are resolved in an all-round way. </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5">From a small team of a dozen people to a group of thousands of tens of thousands of people, the implementation of flexible computing, distributed management, type of work, position, department, chain to branch, flexible management, to meet the needs of company expansion. </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5 ">A series of problems ranging from fixed nine to five shifts to multiple shifts for systematic scheduling, resolution of leave approval to shift scheduling, and so on.</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5 ">Branches, chains, squads, working from home in the epidemic, GPS attendance and other issues are eliminated in one fell swoop, realizing the integration of cloud computing and edge computing. </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left6 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5 ">Regardless of night shifts, day shifts, middle shifts, evening shifts, etc., all issues are considered, and the attendance performance is accurately calculated, and the system runs automatically without human labor. </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left7 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5 ">The performance appraisal is linked with the attendance appraisal to realize big data analysis, visualized charts, and intuitive presentation to avoid the chaotic state of data analysis. </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left8 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h5 ">From the salary evaluation of interviewers to monthly salary calculation, the whole process is scientifically calculated, and a series of problems such as personnel expense declaration and personal tax calculation are solved, so that the calculation is accurate. </span>
                </div>
            </li>
        </ul>
    </div>
</div>