<!--市场痛点比较-->
<div class="container">
    <div class="row">
        <blockquote class="padding-10 h3" style="margin-left:15px;;padding-left:5px;font-weight:600;">
            考勤系統的服务優勢
        </blockquote>
    </div>
</div>
<div class="container"  style="padding: 0px; margin-top: 15px;">
    <div class="col-md-6 col-lg-6 col-xs-12">
        <p class="padding-top10 padding-bottom10 bg-info compare_title" style="margin-left:0px;padding-left:10px;"><i class="fa fa-angry fa-2x"></i>貴公司是否存在以下困擾?</p>
        <ul class="list-unstyled list-group-unbordered ">
            <li class="list-group-item ">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar1.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4">混亂不堪的組織管理架構,入職離職管理不善等。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar2.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4">人員太多,考勤管理困難。無法通過考勤分析工作狀態。 </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar3.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">無法科學配置人力資源,冗餘人力資源,無法通過數據分析進行精簡。 </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar4.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">組織架構只能集中管理,難以分散管理,遠程管理困難。 </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar4.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">人力排班是累活,遇上調班請假等等問題,一塌糊塗。 </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar5.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">績效考核難以和考勤考核聯繫起來,獎罰制度混亂,毫無規則可言。 </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar5.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">每月薪酬計算,個稅計算繁瑣至極,增加人為出錯而導致的薪酬計算錯誤引起的爭拗時有發生。 </span>
                </div>
            </li>
            <li>
                <div class="container pull-left" style="max-width:450px;padding-top:10px;">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/DownLoad/MobileForAttAppV2.rar" class="">中小企業更適合直接部儲到雲系統</a>
                        </li>
                        <li>
                            <div class="bg-primary margin-top5" style="border-radius: 3px; padding-left: 15px; padding-right: 15px; padding: 10px;margin-right:20px;">
                                <a href="/DownLoad/MobileForAttAppV2.rar" class="h3 ">
                                    <i class="fa fa-cloud-upload" style="margin-right:5px;" aria-hidden="true"></i>Cloud Register<p class="reverse" style="font-size: 10px; margin-top: 3px;">對於IT基礎資源薄弱,人力維護等等成本問題,建議直接部儲到雲系統更適合。</p>
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!--解决痛点问题 -->
    <div class="col-md-6 col-lg-6 col-xs-12">
        <p class="padding-top10 padding-bottom10 bg-warning compare_title" style="margin-left:0px;padding-left:10px;"><i class="fa fa-angry fa-2x"></i>我們能為貴公司解決困擾問題：</p>
        <ul class="list-unstyled list-group-unbordered ">
            <li class="list-group-item ">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4">標準的組織管理架構管理,分公司,連鎖店,第三方託管人員,層層分解,實現組織化管理體系。離職入職檔案記錄全方位解決。 </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4">從十幾人的小團隊,到集團化幾千上萬人員,實施彈性計算,分佈式管理,工種、職位、部門、連鎖到分公司,靈活管理,適應公司擴張需要。 </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">從固定朝九晚五到多個排班進行系統排班、解決請假審批到調班安排等等一些列問題。 </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">分公司、連鎖、小分隊、疫情在家工作，GPS考勤等等問題一網打盡,實現雲計算、邊緣計算整合。 </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left6 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">無論夜班、日班、中班、晚班等等問題全方位考慮，做到考勤績效準確計算，系統自動運行，無須人力勞動。 </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left7 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">績效考核與考勤考核聯繫起來,實現大數據分析，可視化圖表，直觀呈現,避免無法數據分析的混沌狀態。 </span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left8 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">從面試人員的薪酬評估到每月薪酬計算,整個流程進行科學計算，解決人員開支申報和個稅計算等等一系列問題,做到準確計算無誤。 </span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container" style="height:10px;background-color:#cfcfcf;"></div>