 
<!--市场痛点比较-->
<div class="container">
    <div class="row">
        <blockquote class="padding-10 h3" style="margin-left:15px;;padding-left:5px;font-weight:600;">
            考勤系统的服务优势
        </blockquote>
    </div>
</div>
<div class="container no-padding" style="padding:0px;margin-top:15px;">
    <div class="col-md-6 col-lg-6 col-xs-12">
        <p class="padding-top10 padding-bottom10 bg-info compare_title" style="margin-left:0px;padding-left:10px;"><i class="fa fa-angry fa-2x"></i>贵公司是否存在以下困扰?</p>
        <ul class="list-unstyled list-group-unbordered ">
            <li class="list-group-item ">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar1.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4">混乱不堪的组织管理架构,入职离职管理不善等。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar2.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4">人员太多,考勤管理困难。无法通过考勤分析工作态度和状态。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar3.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">无法科学配置人力资源,冗余人力资源,无法通过数据分析进行精简。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar4.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">组织架构只能集中管理,难以分散管理,远程管理困难。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar4.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">人力排班是累活,遇上调班请假等等问题,一塌糊涂。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar5.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">绩效考核难以和考勤考核联系起来,奖罚制度混乱,毫无规则可言。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/oa_avatar5.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">每月薪酬计算,个税计算繁琐至极,增加人为出错而导致的薪酬计算错误引起的争拗时有发生。</span>
                </div>
            </li>
            <li>
                <div class="container pull-left" style="max-width:450px;padding-top:10px;">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/DownLoad/MobileForAttAppV2.rar" class="">中小企业更适合直接部储到云系统</a>
                        </li>
                        <li>
                            <div class="bg-primary margin-top5" style="border-radius: 3px; padding-left: 15px; padding-right: 15px; padding: 10px;margin-right:20px;">
                                <a href="/DownLoad/MobileForAttAppV2.rar" class="h3 ">
                                    <i class="fa fa-cloud-upload" style="margin-right:5px;" aria-hidden="true"></i>Cloud Register<p class="reverse" style="font-size: 10px; margin-top: 3px;">对于IT基础资源薄弱,人力维护等等成本问题,建议直接部储到云系统更适合。</p>
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!--解决痛点问题 -->
    <div class="col-md-6 col-lg-6 col-xs-12">
        <p class="padding-top10 padding-bottom10 bg-warning compare_title" style="margin-left:0px;padding-left:10px;"><i class="fa fa-angry fa-2x"></i>我们能为贵公司解决困扰问题：</p>
        <ul class="list-unstyled list-group-unbordered ">
            <li class="list-group-item ">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4">标准的组织管理架构管理,分公司,连锁店,第三方托管人员,层层分解,实现组织化管理体系。离职入职档案记录全方位解决。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4">从十几人的小团队,到集团化几千上万人员,实施弹性计算,分布式管理,工种、职位、部门、连锁到分公司,灵活管理,适应公司扩张需要。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">从固定朝九晚五到多个排班进行系统排班、解决请假审批到调班安排等等一些列问题。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left5 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">分公司、连锁、小分队、疫情在家工作，GPS考勤等等问题一网打尽,实现云计算、边缘计算整合。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left6 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">无论夜班、日班、中班、晚班等等问题全方位考虑，做到考勤绩效准确计算，系统自动运行，无须人力劳动。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left7 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">绩效考核与考勤考核联系起来,实现大数据分析，可视化图表，直观呈现,避免无法数据分析的混沌状态。</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="pull-left padding-left8 padding-right5 padding-top5">
                    <img src="~/Content/Images/right-arrow.png" class="img-bordered img-circle" width="40" />
                </div>
                <div class="padding-10 text-left">
                    <span class="h4 ">从面试人员的薪酬评估到每月薪酬计算,整个流程进行科学计算，解决人员开支申报和个税计算等等一系列问题,做到准确计算无误。</span>
                </div>
            </li>
        </ul>
    </div> 
</div>
<div class="container" style="height:10px;background-color:#cfcfcf;"></div></div>