@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h1>@ViewBag.Title</h1>

<p>Use this area to provide additional information.</p>

<hr />

<object id="mediaplayer" classid="clsid:22d6f312-b0f6-11d0-94ab-0080c74c7e95" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#version=5,1,52,701" 
        standby="loading media player..." type="application/x-oleobject" width="320" height="310">
    <param name="filename" value="http://www.abcd.com/Info20180610_125024824.asf">
    <param name="animationatstart" value="true">
    <param name="transparentatstart" value="true">
    <param name="autostart" value="true">
    <param name="showcontrols" value="true">
    <param name="ShowStatusBar" value="true">
    <param name="windowlessvideo" value="true">
    <embed src="http://www.abcd.com/Info20180610_125024824.asf" autostart="true" showcontrols="true" showstatusbar="1" bgcolor="white" width="320" height="310">
</object>
<hr /><hr />
<object id="mediaplayer" classid="clsid:22d6f312-b0f6-11d0-94ab-0080c74c7e95" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#version=5,1,52,701" standby="loading microsoft windows media player components..." type="application/x-oleobject" width="320" height="310">
    <param name="filename" value="http://www.abcd.com/Info20180610_125024824.asf">
    <param name="autostart" value="true">
    <param name="showcontrols" value="true">
    <param name="ShowStatusBar" value="true">
    <param name="windowlessvideo" value="true">
    <embed src="http://www.abcd.com/Info20180610_125024824.asf" autostart="true" showcontrols="true" showstatusbar="1" bgcolor="white" width="320" height="310">
</object>