<div *ngIf="this.footerShow" class="container bordertop3px gradient " [ngClass]="show"> 
    <div class="container">
      <ul class="list-unstyled footer">
        <li class="copyright">
          &copy; {{shopName}}
        </li>
      </ul>
    </div>
</div>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?6de35c7ba67bf67be24fdbe4b5cadfb6";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
