@using LanguageResource;
@{
    ViewBag.Title = @Lang.ModalView_Mgr_Index_MainInterface;
    Layout = "~/Areas/Mgr/Views/Shared/_Layout.cshtml";
}

<div class="mgr-title label">@Lang.ModalView_Mgr_Index_MainInterface</div>

