<!--sh0006_zh-HK (Share/ShopViewTemplate1)-->
<p class="lead" style="border-bottom-color:#f1dfdf;border-bottom-width:1px;border-bottom-style:dashed;">
    <a target="_blank" href="https://wa.me/62595738?text=%E6%82%A8%E5%A5%BD,%E6%88%91%E6%83%B3%E4%BA%86%E8%A7%A3%E6%9B%B4%E5%A4%9A%E8%B3%87%E8%A8%8A">
        <dl class="h4">
            <dt>
                <span style="font-size:16px;" class="bold"> <i class="fa fa-whatsapp fa-lg text-green" aria-hidden="true" tiltle="WhatsApp Equiry"></i> WhatsApp Equiry</span>
            </dt>
            <dd>
                <span style="font-size:16px;" class="bold"> <i class="fa fa-mobile-phone fa-lg text-gray" aria-hidden="true" tiltle="WhatsApp Equiry"></i> +852-62595738</span>
            </dd>
        </dl>
    </a>
</p>