
Common/obj/Common.csproj.nuget.dgspec.json
Common/obj/Common.csproj.nuget.g.props
Common/obj/Common.csproj.nuget.g.targets
Common/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Common/obj/Debug/netcoreapp3.1/apphost.exe
Common/obj/Debug/netcoreapp3.1/Common.AssemblyInfo.cs
Common/obj/Debug/netcoreapp3.1/Common.AssemblyInfoInputs.cache
Common/obj/Debug/netcoreapp3.1/Common.assets.cache
Common/obj/Debug/netcoreapp3.1/Common.csproj.AssemblyReference.cache
Common/obj/Debug/netcoreapp3.1/Common.csproj.CoreCompileInputs.cache
Common/obj/Debug/netcoreapp3.1/Common.csproj.FileListAbsolute.txt
Common/obj/Debug/netcoreapp3.1/Common.csprojAssemblyReference.cache
Common/obj/Debug/netcoreapp3.1/Common.dll
Common/obj/Debug/netcoreapp3.1/Common.exe
Common/obj/Debug/netcoreapp3.1/Common.GeneratedMSBuildEditorConfig.editorconfig
Common/obj/Debug/netcoreapp3.1/Common.genruntimeconfig.cache
Common/obj/Debug/netcoreapp3.1/Common.pdb
Common/obj/project.assets.json
Common/obj/project.nuget.cache
Common/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Common/obj/Release/netcoreapp3.1/apphost.exe
Common/obj/Release/netcoreapp3.1/Common.AssemblyInfo.cs
Common/obj/Release/netcoreapp3.1/Common.AssemblyInfoInputs.cache
Common/obj/Release/netcoreapp3.1/Common.assets.cache
Common/obj/Release/netcoreapp3.1/Common.csproj.AssemblyReference.cache
Common/obj/Release/netcoreapp3.1/Common.csproj.CoreCompileInputs.cache
Common/obj/Release/netcoreapp3.1/Common.csproj.FileListAbsolute.txt
Common/obj/Release/netcoreapp3.1/Common.dll
Common/obj/Release/netcoreapp3.1/Common.exe
Common/obj/Release/netcoreapp3.1/Common.GeneratedMSBuildEditorConfig.editorconfig
Common/obj/Release/netcoreapp3.1/Common.genruntimeconfig.cache
Common/obj/Release/netcoreapp3.1/Common.pdb
