@{ 
    Layout = null;
    //Response.Redirect(ViewBag.Redirect_Uri as string);
}
<span>loading...</span>
<script>
    //setTimeout("window.location.href = '@ViewBag.Redirect_Uri';", 5000); 
    window.location.href = '@ViewBag.Redirect_Uri';
</script>