@using LanguageResource

<div class="text-center" style="padding-top:30px;padding-bottom:20px;">
    <p class="text-black-50 h1 text-bold">DOWNLOAD CENTER</p>
</div>


@Html.Partial(string.Format("Download/DownLoadPage.{0}", LangUtilities.LanguageCode))