@using LanguageResource

<!--MainFuncAiBox-->
<div class="container">
    @Html.Partial(string.Format("TemplateB/SoftwareMainFuncAiBox{0:X}", LangUtilities.LanguageCode.Replace("-", "").ToUpper()))
</div>

