<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <connectionStrings>
      <add name="IShopDBContext" connectionString="data source=(local)\DATAGUARD;initial catalog=IshopX559;persist security info=False;user id=admin;password=admin123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /> 
    </connectionStrings>
    <appSettings>
      <!--生成cs文件资源路径-->
      <add key="targetFileName" value="N:\ClientIshop_Ishop_AD\Ishop\LanguageResource\LangPublic.cs" /> 
    </appSettings>
</configuration>