<div class="container" style="text-align:center;margin-top:50px;">
    <div class="container" style="text-align:center;margin-top:20px;margin-bottom:20px;font-weight:600;">
        <span class="h2 text-center" style="text-align:center;padding:10px;">Technical support and process</span>
    </div>
     
    <div class="mt-3 mb-1">
        <p class="h3  text-primary text-left" style="padding-top: 20px;  line-height: 24px; ">The most comprehensive support service:</p><br />

        <p class="h4  text-primary  text-left" style="line-height: 24px;">
            Provide the most comprehensive customer service in the industry, by combining the most advanced technology, so that customers can experience a truly seamless support service experience.
        </p>

        <p class="h4  text-primary  text-left"  style="line-height: 24px;">
            Professional installation service
            Provide complete system installation instructions
            Our professional installation services ensure that the system products can fully meet your requirements and expectations.
        </p>
    </div>
    <div class="center-block">
        <img src="~/Content/Images/supportService1.png" class="img-responsive" style="text-align:center;" />
    </div>

</div>