@using Ishop.Utilities
@using LanguageResource
 
<div class="container">
    <blockquote class="h3 padding-left15">
       <i class="fa fa-shopping-cart"></i> @Lang.ShopCopyTitle
    </blockquote>
    <hr />
</div>
<div class="container" id="MyShoppingCart1" style="margin-top:15px">
    <div class="container">
        <span class="padding-left15 h1" style="font-weight:600;">
            <i class="fa fa-check text-green fa-2x" aria-hidden="true"></i>
            @Lang.ShopCopyResultSuccess

        </span>
        <br /> <br />
        <span class="h4 text-black padding-left15">
            ONLY INFODETAILS AND PRODUCTS
        </span>
    </div>
</div>
 

 