@{
    ViewBag.Title = LanguageResource.Lang.Account_ExternalLoginFailure_LoginFail;
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3 class="text-danger">@LanguageResource.Lang.Account_ExternalLoginFailure_H3LoginFail</h3>
</hgroup>
