@{
    ViewBag.Title = LanguageResource.Lang.Account_ForgotPasswordConfirmation_Title;
}
  
<div class="container">
    <br />
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="container">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="box box-solid box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">已发送Email</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-default"><i class="fa fa-envelope" aria-hidden="true"></i> 已发送Email</span>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body"> 
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <p class="lead bold">
                               @LanguageResource.Lang.Account_ForgotPasswordConfirmation_CheckEmailToResetPwd 
                            </p>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        }
    </div>

    @Html.Partial("ForgotByPhone")

</div>
