@using LanguageResource
@{
    ViewBag.Title = LangUtilities.GetString("重置密码确认。", "Account_ResetPasswordConfirmation_Title", KeyType.ViewHeader);
}
<br/>
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    
</hgroup>
<hr />
<div class="container">
    <p>
        @{
            string ResetPasswordTips = LangUtilities.GetString("你的密码已重置。", "Account_ResetPasswordConfirmation_ResetPasswordTips", KeyType.DefinitedTag);
            string ResetClickLogin = LangUtilities.GetString("单击此处登录。", "Account_ResetPasswordConfirmation_ResetClickLogin", KeyType.DefinitedTag);
        }
        @ResetPasswordTips @Html.ActionLink(ResetClickLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
