@using LanguageResource
@using Ishop.Utilities
@model Ishop.Models.Info.InfoDetail
 
    <row>
        <div class="container box box-success box-header box-solid padding-left5 padding-bottom10">
            <div class="box-header padding-left5">
                <div class="pull-left">〈更多原创文章〉</div>
            </div> 
            <div class="box-body">

                <div class="h5 small"><a href="https://mp.weixin.qq.com/s/zbuPWhGFWqTj4FJ-w2OtdA" class="glyphicon glyphicon-play">〈原创〉赌球热情与人间杯具，到底我们缺了什么？</a></div><wbr>
                <div class="h5 small"><a href="https://mp.weixin.qq.com/s/LtpkE5yWvIfLDRKOd8r8sA" class="glyphicon glyphicon-play">〈原创〉香港社区与社交网络时代杂谈</a></div><wbr>
                <div class="h5 small"><a href="https://mp.weixin.qq.com/s/sdmXmFy1J-rYIj4gMAMtOA" class="glyphicon glyphicon-play">〈原创〉父爱如山，女儿果然是爸爸上辈子的小情人</a></div><wbr>
                <div class="h5 small"><a href="https://mp.weixin.qq.com/s/8LbGeuVFe_2UCqcdTtdQSQ" class="glyphicon glyphicon-play">〈原创〉一秒看懂：美联储加息和我们老百姓有舍关系？</a></div><wbr>
                <div class="h5 small"><a href="http://mp.weixin.qq.com/s/jbBQ7bKpSZXYtg6OY-YDJQ" class="glyphicon glyphicon-play">〈原创〉把我从广州探亲旅程紧急召回,居然是川普税改</a></div><wbr>
                <div class="h5 small"><a href="http://mp.weixin.qq.com/s/_M__okLU8UvLc3dPIeo-_g" class="glyphicon glyphicon-play">〈原创〉再说前香港財爷梁锦松爱情、教育与金融观</a></div><wbr>
                <div class="h5 small"><a href="http://mp.weixin.qq.com/s/NlhLtrAtMqwR_C7RTMzyhA" class="glyphicon glyphicon-play">〈原创〉安身立命该好好看看这几张照片</a></div><wbr>
                <div class="h5 small"><a href="http://mp.weixin.qq.com/s/iQ_Bl59Bht7mSSDOXfPUTA" class="glyphicon glyphicon-play">〈原创〉购买香港保险的经济背景</a></div><wbr>
                <div class="h5 small"><a href="http://mp.weixin.qq.com/s/vUNSH4PbRbYTQS-H_GFgEw" class="glyphicon glyphicon-play">〈原创〉近50亿票房，吴京的成功看父母教育</a></div><wbr>
                <div class="h5 small"><a href="http://mp.weixin.qq.com/s/8MQvL1Tljy1g_RUNFvWV2A" class="glyphicon glyphicon-play">〈原创〉内地居民为什么要购买香港保险</a></div><wbr>
                <div class="h5 small"><a href="http://mp.weixin.qq.com/s/MCZyfjdDNTd6OoPdI2ePPA" class="glyphicon glyphicon-play">〈原创〉社保与商业保险的互补策略</a></div><wbr>
            </div>
        </div>
</row>


 
