<div *ngIf="!infolists">
  <i class="fa fa-spinner"></i><em>Loading...</em>
  <div class='loader'>
    <div class='loader_overlay'></div>
    <div class='loader_cogs'>
      <div class='loader_cogs__top'>
        <div class='top_part'></div>
        <div class='top_part'></div>
        <div class='top_part'></div>
        <div class='top_hole'></div>
      </div>
      <div class='loader_cogs__left'>
        <div class='left_part'></div>
        <div class='left_part'></div>
        <div class='left_part'></div>
        <div class='left_hole'></div>
      </div>
      <div class='loader_cogs__bottom'>
        <div class='bottom_part'></div>
        <div class='bottom_part'></div>
        <div class='bottom_part'></div>
        <div class='bottom_hole'><!-- lol --></div>
      </div>
      <p>loading</p>
    </div>
    <h1>Welcome!</h1>
    <h2>wait...</h2>
  </div>
</div>

<cdk-virtual-scroll-viewport class="no-margin no-padding" style="width:100%;height: 800px;" itemSize="50" minBufferPx="30" maxBufferPx="200">
  <ng-container *cdkVirtualFor="let infodetail of infolists" class="no-margin no-padding">
    <div class="row margin-bottom-10 padding-top5 padding-left5 padding-right5" style="border-bottom:solid;border-bottom-color:#f3eeee;border-bottom-width:1px; background-color:#f2eeee;">
      <div class="col-xs-8">
        <div class="margin-left15 padding-left5 padding-bottom5 h4">
          <div class="row">
            <a [routerLink]='["/info/"+ infodetail.userTraceId]'>
              {{infodetail.title}}
            </a>
          </div>
          <div class="row">
            <div class="hidden-sm hidden-md hidden-xs lead">{{infodetail.subTitle}}</div>
          </div>
        </div>
      </div>
      <div class="col-xs-4 padding-bottom5">
        <a [routerLink]='["/info/"+ infodetail.userTraceId]' class="no-margin no-padding">
          <img [src]="infodetail.titleThumbNail" class="img-responsive" />
        </a>
      </div>
    </div>

  </ng-container>
</cdk-virtual-scroll-viewport>




