<div class="container text-center" style="margin-bottom:30px;">
    <div class="h4">All software and tools are copyrighted, but they are available for permanent free download and use. For details, please refer to <a href="/zh-HK/Home/ServiceFlow">SERVICE RULE</a> </div>
    <p class="h6">At the same time, developers who are interested in this area are welcome to join the development alliance and provide more free software and tools.</p>
</div>


<div class="container no-padding" style="border-width:2px;border-color:#f9cb08;border-style:dashed;margin-bottom:30px;">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Small and medium-sized enterprises go directly to the cloud, saving maintenance costs</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="http://81.71.74.135:8080/en-US" class="h3">
                            <i class="fa fa-user-plus" style="margin-right:5px;" aria-hidden="true"></i>Cloud system registration<p class="reverse" style="font-size:10px;margin-top:3px;">One minute cloud system registration, convenient and fast.</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">Eliminates IT infrastructure and maintenance costs, and cloud management saves costs.</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            Big data cloud computing is because local storage requires long-term manpower maintenance and expensive software systems and hardware resources. Therefore, big data cloud computing is used: it can be realized only by synchronizing local device data to the cloud, which is simple and easy to operate. It is especially suitable for small enterprises with tens to hundreds of people. No need for dedicated IT personnel to maintain, and also save dedicated server resources,
                            It is the best choice for small and medium-sized enterprises. At the same time, it can also be flexibly stored. When the enterprise scales up, it can choose to switch to local departmental storage.
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Localization department store-suitable for large enterprises</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="bg-maroon-gradient text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2rar.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>Certificate download<p class="reverse" style="font-size:10px;margin-top:3px;">You need to install a certificate authority to use the software.</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">The first step is to download and install the permanent certificate first.</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            Although all small and medium-sized enterprises are <span class="badge badge-important" style="padding:5px;font-size:14px;">free</span> to download and use, but based on data security, you need to install a certificate to ensure Data communication is safe. The downloaded certificate is saved in the root path of the application. You can also save a copy to the root directory of the operating system at the same time. For example, C:\.
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Copy and run-simple and easy to use</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/SoftWareSetupV213.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>software download<p class="reverse" style="font-size:10px;margin-top:3px;">Focus on user experience, stability, and accurate calculations.</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">The second step is to download the main application of the software.</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            This program is based on the support of Microsoft NETCORE3.1 or above system framework and can be transplanted to LUNIX system to run, but it is recommended to run the program based on Microsoft operating system. Before running the specific application, you need to set appsettings.json (under the application root directory). The specific setting instructions are explained in detail.
                            The running file is: DataGuardXcore.exe or DataGuardXcore.bat.
                            <a class="badge badge-success "
                               href="/en-US/Helper/MainFunc" target="_blank">
                                <i class="fa fa-link margin-r-5"></i>Function brief
                            </a>
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Adapt to a seamlessly connected the world</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-warning text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/MobileSetupV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>Mobile APP Download<p class="reverse" style="font-size:10px;margin-top:3px;">Convenience and adaptation are everywhere.</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">Download the front-end management of the mobile version.</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            Currently only supports the Android version of ANDROID, and provides the NFC card function. The premise is to register as a system card device. The mobile phone of general attendance personnel cannot use this function, otherwise it will be messed up. General attendance personnel, manager roles, branch offices, flagship store managers and other roles have functions corresponding to their identities and will not cause management loopholes.
                            For example: attendance staff can provide leave, view calendar schedules, etc., manager role can view subordinates' attendance reports, change subordinates' schedules and so on. Roles such as branch offices or store managers can be regarded as the management of attendance and salary entrusted by their personnel under the platform. It can also be managed through the front end of the mobile phone or the back end of the computer.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Database installation becomes so easy</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/DownLoadDataBaseSetupV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>Database creation<p class="reverse" style="font-size:10px;margin-top:3px;">One-click installation of the database is convenient and quick.</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">Create a database through a program, eliminating the need for complex database operations.</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            Provide database service based on Microsoft SQL SERVER. It is currently tested and developed based on MS SQL SERVER 2016. It is recommended to install this version. In theory, other Microsoft versions are also suitable. It has not been tested yet. As for MariaDB, MySQL, Oracle and other databases, you need to contact our team for conversion operations before they can be used.
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Professional synchronization of Haikang equipment data to the platform</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-danger text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/EventbyDeployV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>HIK device data synchronization-computer version<p class="reverse" style="font-size:10px;margin-top:3px;">Including offline synchronization to ensure stable synchronization.</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">The data for HIK equipment is simple and stable.</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            The computer version is mainly to synchronize the data of face recognition data, card data, fingerprint data, etc. to the cloud. First, set up the configuration file: ApiUrlConfig.json. The main functions include time, identifying pictures, etc. to return to the cloud, while providing a breakpoint resuming function, as long as the connection with the device is ensured to ensure that the data is stably stored in the cloud.
                            It is recommended to set the program to automatically start when the machine is turned on. The fingerprint does not involve privacy and security issues, and only the attendance personnel number is returned.
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Professional synchronization of HIK equipment data to the platform</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/HIKAndroidSetupV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>HIK device data synchronization-Android version<p class="reverse" style="font-size:10px;margin-top:3px;">Including offline synchronization to ensure stable synchronization.</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">Use Android mobile to synchronize data from HIK devices and synchronize video recording to the cloud (DVR).</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            The Android version has all the functions of the above-mentioned computer version, and also supports the Hikvision lens recording function, and of course also supports the recording function of the face recognition machine. You can monitor the face recognition process, etc., depending on customer needs for specific usage. The video function is specially developed for the function of Haikang lens.
                            It can be automatically converted to MP4 files and uploaded to the cloud for storage, and use the current cloud resources to save the longest time as much as possible. Of course, it can also be saved to the local machine by the customer's choice. The current cloud storage guarantee is one month. Especially for the cost-saving needs of small businesses,
                            Data synchronization can be achieved by using an idle ordinary Android phone, with popular solutions such as cloud and big data computing, saving time, effort and cost.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Downstream large-scale cloud platform data to HIK equipment</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/HIKSyncSetupV213.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>HIK equipment downstream procedures<p class="reverse" style="font-size:10px;margin-top:3px;">Huge corporate data show their talents.</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">This function is mainly aimed at importing large amounts of data to the device.</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            Based on the computer-side operation, job tasks are synchronized regularly. Download the face data, personnel attendance number, and NFC card number in the cloud to the device.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Coming soon for free</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>Based on special NFC tapping card program-Android version<p class="reverse" style="font-size:10px;margin-top:3px;">Special third-party card taping program.</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">This function is mainly for tapping cards based on mobile phone APP docking with third-party applications.</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            Coming soon.........
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Coming soon for free</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>Based on special NFC tapping card program II-Android version<p class="reverse" style="font-size:10px;margin-top:3px;">Special third-party card tapping program.</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">This function is mainly for tapping cards based on mobile phone APP docking with third-party applications.</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            Coming soon.........
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px; margin-bottom:50px;">
    <hr />
</div>



<div class="container" style="padding-left: 30px; padding-right: 30px; margin-bottom:50px;">
    <hr />
</div>
<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Coming soon for free</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>Face Recognition Program-Android Version<p class="reverse" style="font-size:10px;margin-top:3px;">Face recognition program based on the call of middleware.</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">For the middleware call designed for face recognition, the entire process does not affect the previous program flow. </blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            Stay tuned.........
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px; margin-bottom:50px;">
    <hr />
</div>

<div class="container" style="font-size:18px;;padding-left: 30px; padding-right: 30px; margin-bottom:50px;">
   <span class="h3 badge badge-success p-2" style="font-size:18px;">下載提示:</span> 以上*.EXE都是自解壓文件,也可以下載解壓軟件:WinRar軟件,進行解壓>。
   <p style="font-size:12px;">
       https://rar.tw/download.html<br />
       https://www.win-rar.com/start.html?&L=0
   </p>
</div>