<div class="container text-center" style="margin-bottom:30px;">
    <div class="h4">所有軟件及其工具版權所有，但提供永久免費下載使用，具體請參考<a href="/zh-HK/Home/ServiceFlow">服務細則</a> </div>
    <p class="h6">同時歡迎有志於此方面的開發者加入開發聯盟,提供更多的免費軟件和工具</p>
</div>


<div class="container no-padding" style="border-width:2px;border-color:#f9cb08;border-style:dashed;margin-bottom:30px;">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">中小企業直接上雲,節省維護成本</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="http://81.71.74.135:8080/zh-HK" class="h3">
                            <i class="fa fa-user-plus" style="margin-right:5px;" aria-hidden="true"></i>雲系統註冊<i class="fa fa-link margin-r-5 margin-left5"></i><p class="reverse" style="font-size:10px;margin-top:3px;">一分鍾雲系統註冊,方便快捷。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">省去IT基礎設施和維護成本，雲端管理更省成本。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            大數據雲計算就是由於本地部儲需要長期人力維護和昂貴的軟件系統和硬件資源，所以使用大數據雲計算:只需要把本地設備數據同步到雲端即可實現，簡單，易於操作。特別適合幾十到百人的小企業部儲。無須專門IT人員維護,也節省專門的服務器資源,
                            對中小企業來說是最好不過的選擇.同時也可以靈活部儲,當企業上規模的情況下,可以選擇轉為本地部儲。
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">本地化部儲-適合大型企業</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="bg-maroon-gradient text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2rar.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>證書下載<p class="reverse" style="font-size:10px;margin-top:3px;">需要安裝證書授權才能使用軟件。 </p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">第一步,先要下載安裝證書。 </blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            儘管所有中小企業都是<span class="badge badge-important" style="padding:5px;font-size:14px;">免費</span>下載使用,但基於數據安全都是需要安裝證書,確保數據通訊是安全的。下載的證書選擇保存在的應用程序的根路徑。也可以同時保存一份到操作系統的根目錄。例如C:\。
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">複製即運行-簡單易用</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/SoftWareSetupV213.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>軟件下載<p class="reverse" style="font-size:10px;margin-top:3px;">專注用戶體驗、穩定、計算準確。 </p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">第二步,下載軟件主體應用程序。 </blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            本程序是基於微軟NETCORE3.1或以上系統框架的支持，可移植到LUNIX系統運行，但建議基於微軟操作系統運行程序。具體的應用程序運行之前需要對 appsettings.json(應用程序根目錄下)進行設置，具體的設置說明有詳細講解。
                            運行文件是:DataGuardXcore.exe 或 DataGuardXcore.bat。
                            <a class="badge badge-success "
                               href="/zh-HK/Helper/MainFunc" target="_blank">
                                <i class="fa fa-link margin-r-5"></i>功能概述
                            </a>
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">順應無縫連接的世界</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-warning text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/MobileSetupV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>手機APP下載<p class="reverse" style="font-size:10px;margin-top:3px;">便利與適應潮流，無處不在。 </p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">下載手機版本的前端管理。 </blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            目前僅提供ANDROID安卓版本的支持，並提供NFC拍卡功能,前提是要登記為系統拍卡設備,一般考勤人員的手機是不能使用此功能的,否則亂套了。一般考勤人員、經理角色、分公司、旗艦店店長等角色都是具有與身份相對應的功能，不會導致管理上的漏洞。
                            例如：考勤人員可以提供請假，查看日曆排班等等，經理角色可查看屬下的考勤報表，更改屬下排班安排等等。分公司或店長等角色可以視作其人員受託於平台下的考勤與薪酬的管理。也可以透過手機前端或電腦後台進行管理。
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class=" container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">數據庫安裝變得如此簡單</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/DownLoadDataBaseSetupV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>數據庫創建<p class="reverse" style="font-size:10px;margin-top:3px;">一鍵安裝數據庫,方便快捷。 </p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">透過程序創建數據庫,省去專業操作複雜的數據庫。 </blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            提供基於微軟 SQL SERVER數據庫庫服務。目前是基於MS SQL SERVER 2016測試開發,建議安裝此版本,理論上其他微軟的版本也適合啊,目前還沒測試過。至於MariaDB,MySQL,Oracle等數據庫需要聯繫本團隊進行轉換操作才能使用。
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">專業同步海康設備數據到平台</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-danger text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/EventbyDeployV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>海康設備數據同步-電腦版<p class="reverse" style="font-size:10px;margin-top:3px;">包括離線同步,保證同步穩定。 </p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">針對海康設備的數據,簡單、穩定。 </blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            電腦版,主要是同步數據人臉識別數據、拍卡數據、指紋數據等等到雲端。首先要設置好配置文件：ApiUrlConfig.json。主要功能包括時間、識別圖片等回傳的雲端，同時提供斷點續傳功能，只要保證和設備連接就確保數據是穩定上存到雲端。
                            建議設置開機自動啟動本程序，指紋不涉及隱私安全問題,僅回傳考勤人員編號。
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">專業同步海康設備數據到平台</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/HIKAndroidSetupV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>海康設備數據同步-安卓版<p class="reverse" style="font-size:10px;margin-top:3px;">包括離線同步,保證同步穩定。 </p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">利用安卓手機同步海康設備的數據、以及同步錄像到雲端（DVR）。 </blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            安卓版, 具有上述電腦版的所有功能外,還支持海康鏡頭錄像功能,當然也支持人臉識別機的錄像功能。可以監控人臉識別過程等等,具體用法看客戶需要。錄像功能是專門為海康鏡頭的功能針對性開發的，
                            可以自動轉換為MP4文件並上載到雲端保存，並儘可能利用目前的雲端資源保存最長的時間。當然也可以由客戶選擇保存到本地機器。目前云端保存保證是一個月的時間。特別針對小型企業節省成本需要,
                            使用閒置的普通安卓手機就可以實現數據同步,配合雲端、大數據計算等等流行解決方案，省時省力省成本。
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>




<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">把大規模雲端平台數據下行到海康設備</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/HIKSyncSetupV213.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>海康設備下行程序<p class="reverse" style="font-size:10px;margin-top:3px;">龐大的企業數據盡顯身手。 </p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">此功能主要針對大量數據導入到設備。 </blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            基於電腦端運行,定時同步作業任務。把雲端的人臉數據、人員考勤編號、NFC卡號下行到設備端。
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">即將在近期免費推出</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>基於特製NFC拍卡程序-安卓版<p class="reverse" style="font-size:10px;margin-top:3px;">特殊第三方拍卡程序。 </p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">此功能主要針對基於手機APP對接第三方應用程序的拍卡。 </blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            敬請期待.........
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">即將在近期免費推出</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>基於特製NFC拍卡程序 II-安卓版<p class="reverse" style="font-size:10px;margin-top:3px;">特殊第三方拍卡程序。 </p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">此功能主要針對基於手機APP對接第三方應用程序的拍卡。 </blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            敬請期待.........
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px; margin-bottom:50px;">
    <hr />
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px; margin-bottom:50px;">
    <hr />
</div>
<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">即將在近期免費推出</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>人臉識別程序-安卓版<p class="reverse" style="font-size:10px;margin-top:3px;">基於中間件的調用的人臉識別程序。 </p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">為需要人臉識別而設計的中間件調用,整個流程並不影響之前的程序流程。 </blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            敬請期待.........
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px; margin-bottom:50px;">
    <hr />
</div>

<div class="container" style="font-size:18px;padding-left: 30px; padding-right: 30px; margin-bottom:50px;">
    <span class="badge badge-success p-2" style="font-size:18px;">下載提示:</span> 以上*.EXE都是自解壓文件,也可以下載解壓軟件:WinRar軟件,進行解壓。
    <p style="font-size:12px;">
        https://rar.tw/download.html<br />
        https://www.win-rar.com/start.html?&L=0
    </p>
</div>