<div class="container text-center" style="margin-bottom:30px;">
    <div class="h4">所有软件及其工具版权所有，但提供下载使用，具体请参考<a href="/zh-CN/Home/ServiceFlow">服务细则</a> </div>
    <p class="h6">同时欢迎有志于此方面的开发者加入开发联盟,提供更多的免费软件和工具</p>
</div>

<div class="container no-padding" style="border-width:2px;border-color:#f9cb08;border-style:dashed;margin-bottom:30px;">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">中小企业直接上云,节省维护成本</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="http://81.71.74.135:8080/zh-HK" class="h3">
                            <i class="fa fa-user-plus" style="margin-right:5px;" aria-hidden="true"></i>云系统注册<i class="fa fa-link margin-r-5 margin-left5"></i><p class="reverse" style="font-size:10px;margin-top:3px;">一分钟云系统注册,方便快捷。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">省去IT基础设施和维护成本，云端管理更省成本。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            大数据云计算就是由于本地部储需要长期人力维护和昂贵的软件系统和硬件资源，所以使用大数据云计算:只需要把本地设备数据同步到云端即可实现，简单，易于操作。特别适合几十到百人的小企业部储。无须专门IT人员维护,也节省专门的服务器资源,
                            对中小企业来说是最好不过的选择.同时也可以灵活部储,当企业上规模的情况下,可以选择转为本地部储。
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">本地化部储-适合大型企业</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="bg-maroon-gradient text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2rar.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>证书下载<p class="reverse" style="font-size:10px;margin-top:3px;">需要安装证书授权才能使用软件。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">第一步,先要下载安装永久证书。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            尽管所有中小企业都是<span class="badge badge-important" style="padding:5px;font-size:14px;">免费</span>下载使用,但基于数据安全都是需要安装证书,确保数据通讯是安全的。下载的证书选择保存在的应用程序的根路径。也可以同时保存一份到操作系统的根目录。例如C:\。
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">复制即运行-简单易用</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/SoftWareSetupV213.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>软件下载<p class="reverse" style="font-size:10px;margin-top:3px;">专注用户体验、稳定、计算准确。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">第二步,下载软件主体应用程序。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            本程序是基于微软NETCORE3.1或以上系统框架的支持，可移植到LUNIX系统运行，但建议基于微软操作系统运行程序。具体的应用程序运行之前需要对 appsettings.json(应用程序根目录下)进行设置，具体的设置说明有详细讲解。
                            运行文件是:DataGuardXcore.exe 或 DataGuardXcore.bat。
                            <a class="badge badge-success "
                               href="/zh-CN/Helper/MainFunc" target="_blank">
                                <i class="fa fa-link margin-r-5"></i>功能概述
                            </a>
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">顺应无缝连接的世界</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-warning text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/MobileSetupV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>手机APP下载<p class="reverse" style="font-size:10px;margin-top:3px;">便利与适应潮流，无处不在。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">下载手机版本的前端管理。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            目前仅提供ANDROID安卓版本的支持，并提供NFC拍卡功能,前提是要登记为系统拍卡设备,一般考勤人员的手机是不能使用此功能的,否则乱套了。一般考勤人员、经理角色、分公司、旗舰店店长等角色都是具有与身份相对应的功能，不会导致管理上的漏洞。
                            例如：考勤人员可以提供请假，查看日历排班等等，经理角色可查看属下的考勤报表，更改属下排班安排等等。分公司或店长等角色可以视作其人员受托于平台下的考勤与薪酬的管理。也可以透过手机前端或电脑后台进行管理。
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">数据库安装变得如此简单</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/DownLoadDataBaseSetupV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>数据库创建<p class="reverse" style="font-size:10px;margin-top:3px;">一键安装数据库,方便快捷。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">透过程序创建数据库,省去专业操作复杂的数据库。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            提供基于微软 SQL SERVER数据库库服务。目前是基于MS SQL SERVER 2016测试开发,建议安装此版本,理论上其他微软的版本也适合啊,目前还没测试过。至于MariaDB,MySQL,Oracle等数据库需要联系本团队进行转换操作才能使用。
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">专业同步海康设备数据到平台</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-danger text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/EventbyDeployV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>海康设备数据同步-电脑版<p class="reverse" style="font-size:10px;margin-top:3px;">包括离线同步,保证同步稳定。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">针对海康设备的数据,简单、稳定。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            电脑版,主要是同步数据人脸识别数据、拍卡数据、指纹数据等等到云端。首先要设置好配置文件：ApiUrlConfig.json。主要功能包括时间、识别图片等回传的云端，同时提供断点续传功能，只要保证和设备连接就确保数据是稳定上存到云端。
                            建议设置开机自动启动本程序，指纹不涉及隐私安全问题,仅回传考勤人员编号。
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">专业同步海康设备数据到平台</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/HIKAndroidSetupV213.exe" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>海康设备数据同步-安卓版<p class="reverse" style="font-size:10px;margin-top:3px;">包括离线同步,保证同步稳定。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">利用安卓手机同步海康设备的数据、以及同步录像到云端（DVR）。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            安卓版, 具有上述电脑版的所有功能外,还支持海康镜头录像功能,当然也支持人脸识别机的录像功能。可以监控人脸识别过程等等,具体用法看客户需要。录像功能是专门为海康镜头的功能针对性开发的，
                            可以自动转换为MP4文件并上载到云端保存，并尽可能利用目前的云端资源保存最长的时间。当然也可以由客户选择保存到本地机器。目前云端保存保证是一个月的时间。特别针对小型企业节省成本需要,
                            使用闲置的普通安卓手机就可以实现数据同步,配合云端、大数据计算等等流行解决方案，省时省力省成本。
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">把大规模云端平台数据下行到海康设备</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/HIKSyncSetupV213.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>海康设备下行程序<p class="reverse" style="font-size:10px;margin-top:3px;">庞大的企业数据尽显身手。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">此功能主要针对大量数据导入到设备。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            基于电脑端运行,定时同步作业任务。把云端的人脸数据、人员考勤编号、NFC卡号下行到设备端。
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">即将在近期免费推出</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-primary text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>基于特制NFC拍卡程序-安卓版<p class="reverse" style="font-size:10px;margin-top:3px;">特殊第三方拍卡程序。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">此功能主要针对基于手机APP对接第三方应用程序的拍卡。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            敬请期待.........
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <hr />
</div>

<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">即将在近期免费推出</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>基于特制NFC拍卡程序 II-安卓版<p class="reverse" style="font-size:10px;margin-top:3px;">特殊第三方拍卡程序。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">此功能主要针对基于手机APP对接第三方应用程序的拍卡。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            敬请期待.........
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container" style="padding-left: 30px; padding-right: 30px; margin-bottom:50px;">
    <hr />
</div>
<div class="container no-padding">
    <div class="col-md-4 col-lg-4" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">即将在近期免费推出</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="btn-success text-nowrap" style="border-radius:3px;padding: 10px;">
                        <a href="/DownLoad/LicenseSetupV2.rar" class="h3">
                            <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>人脸识别程序-安卓版<p class="reverse" style="font-size:10px;margin-top:3px;">基于中间件的调用的人脸识别程序。</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-lg-8">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">为需要人脸识别而设计的中间件调用,整个流程并不影响之前的程序流程。</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="" style="padding: 10px;">
                        <p class="H5 lead">
                            敬请期待.........
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px; margin-bottom:50px;">
    <hr />
</div>

<div class="container" style="font-size:24px;;padding-left: 30px; padding-right: 30px; margin-bottom:50px;">
    <span class="badge badge-success p-2" style="font-size:18px;">下载提示:</span> 以上*.EXE都是自解压文件,也可以下载解压软件:WinRar软件,进行解压。
    <p style="font-size:12px;">
        https://rar.tw/download.html<br />
        https://www.win-rar.com/start.html?&L=0
    </p>
</div>