<div class="container no-padding">
    <div class="col-md-8 col-lg-8" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">本地化部儲-適合大型企業</blockquote>
            </li>
            <li>
                <div class="container-fluid  no-padding">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="margin-top5">
                                <div class="bg-maroon-gradient" style="border-radius:3px;padding: 10px;">
                                    <a href="/DownLoad/LicenseSetupV213.rar" class="h3">
                                        <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>證書下載<p class="reverse" style="font-size:10px;margin-top:3px;">需要安裝證書授權才能使用軟件。</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="margin-top5">
                                <div class="bg-green-gradient" style="border-radius:3px; padding: 10px;">
                                    <a href="/DownLoad/DataGuardXcoreV2.1.rar" class="h3 ">
                                        <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>軟件下載<p class="reverse" style="font-size: 10px; margin-top: 3px;">一鍵安裝、穩定、計算準確</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="margin-top5">
                                <div class="bg-primary " style="border-radius:3px; padding: 10px;">
                                    <a href="/DownLoad/MobileForAttAppV2.apk" class="h3 ">
                                        <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>手機APP<p class="reverse" style="font-size: 10px; margin-top: 3px;">無縫連接,手機也能操作。</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-lg-4">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">中小企業直接上雲,節省維護成本</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="bg-primary" style="border-radius: 3px; padding: 10px;">
                        <a href="/DownLoad/MobileForAttAppV2.rar" class="h3 ">
                            <i class="fa fa-cloud-upload" style="margin-right:5px;" aria-hidden="true"></i>雲系統註冊<p class="reverse" style="font-size: 10px; margin-top: 3px;">一分鍾雲系統註冊,方便快捷。</p>
                        </a>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="pull-right" style="border-radius: 3px; padding: 10px;margin-right:15px;">
            <a href="/zh-HK/helper/Downloadpage" class="h4">
                <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>更多下載 ...
            </a>
        </div>
    </div>
</div>