<div class="container no-padding">
    <div class="col-md-8 col-lg-8" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">本地化部储-适合大型企业</blockquote>
            </li>
            <li>
                <div class="container-fluid  no-padding">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="margin-top5">
                                <div class="bg-maroon-gradient" style="border-radius:3px;padding: 10px;">
                                    <a href="/DownLoad/LicenseSetupV213.rar" class="h3">
                                        <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>证书下载<p class="reverse" style="font-size:10px;margin-top:3px;">需要安装证书授权才能使用软件。</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="margin-top5">
                                <div class="bg-green-gradient" style="border-radius:3px; padding: 10px;">
                                    <a href="/DownLoad/DataGuardXcoreV2.1.rar" class="h3 ">
                                        <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>软件下载<p class="reverse" style="font-size: 10px; margin-top: 3px;">一键安装、稳定、计算准确</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="margin-top5">
                                <div class="bg-primary" style="border-radius:3px; padding: 10px;">
                                    <a href="/DownLoad/MobileForAttAppV2.apk" class="h3 ">
                                        <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>手机APP<p class="reverse" style="font-size: 10px; margin-top: 3px;">无缝连接,手机也能操作。</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-lg-4">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">中小企业直接上云,节省维护成本</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="bg-primary" style="border-radius: 3px; padding: 10px;">
                        <a href="/DownLoad/MobileForAttAppV2.rar" class="h3 ">
                            <i class="fa fa-cloud-upload" style="margin-right:5px;" aria-hidden="true"></i>云系统注册<p class="reverse" style="font-size: 10px; margin-top: 3px;">一分钟云系统注册,方便快捷</p>
                        </a>
                    </div>
                </div>

            </li>
        </ul>
    </div> 
</div>
<div class="container">
    <div class="row">
        <div class="pull-right" style="border-radius: 3px; padding: 10px;margin-right:15px;">
            <a href="/zh-CN/helper/Downloadpage" class="h4">
                <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>更多下载 ...
            </a>
        </div>
    </div>
</div>
