<div class="container no-padding">
    <div class="col-md-8 col-lg-8" style="margin-top:10px;">
        <ul class="list-unstyled">
            <li>
                <blockquote style="padding-left:5px;">Localization Department Store-Suitable for large enterprises</blockquote>
            </li>
            <li>
                <div class="container-fluid  no-padding">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="margin-top5">
                                <div class="bg-maroon-gradient" style="border-radius:3px;padding: 10px;">
                                    <a href="/DownLoad/LicenseSetupV213.rar" class="h3">
                                        <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>License Install<p class="reverse" style="font-size:10px;margin-top:3px;">A certificate authorization is required to use the software.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="margin-top5">
                                <div class="bg-green-gradient" style="border-radius:3px; padding: 10px;">
                                    <a href="/DownLoad/DataGuardXcoreV2.1.rar" class="h3 ">
                                        <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>Software<p class="reverse" style="font-size: 10px; margin-top: 3px;">One-click installation, stable and accurate calculation.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="margin-top5">
                                <div class="bg-primary" style="border-radius:3px; padding: 10px;">
                                    <a href="/DownLoad/MobileForAttAppV2.apk" class="h3 ">
                                        <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>Mobile APP<p class="reverse" style="font-size: 10px; margin-top: 3px;">Connect anywhere, mobile phone can also be operated.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-lg-4">
        <ul class="list-unstyled">
            <li style="margin-top:10px;">
                <blockquote style="padding-left:5px;">Directly to cloud</blockquote>
            </li>
            <li>
                <div class="margin-top5">
                    <div class="bg-primary" style="border-radius: 3px; padding: 10px;">
                        <a href="/DownLoad/MobileForAttAppV2.rar" class="h3 ">
                            <i class="fa fa-cloud-upload" style="margin-right:5px;" aria-hidden="true"></i>Cloud Register<p class="reverse" style="font-size: 10px; margin-top: 3px;">Directly deploy on cloud system registration, Especially suitable for small businesses.</p>
                        </a>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="pull-right" style="border-radius: 3px; padding: 10px;margin-right:15px;">
            <a href="/en-US/helper/Downloadpage" class="h4">
                <i class="fa fa-download" style="margin-right:5px;" aria-hidden="true"></i>More downloads ...
            </a>
        </div>
    </div>
</div>