@using Ishop.Utilities
@using LanguageResource
 
<div class="container">
    <blockquote class="h3 padding-left15">
       <i class="fa fa-shopping-cart"></i> My Cart
    </blockquote>
    <hr />
</div>
<div class="container" id="MyShoppingCart1" style="margin-top:15px">
    <div class="container">
        <span class="h3 padding-left15 h4" style="font-weight:600;">
            <i class="fa fa-exclamation-triangle text-danger"></i> There are no items in your shopping cart !!!
        </span>

    </div>
</div>
 

 